<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
             <div class="card-body m-t-20">
                <!--main content-->
                <div class="row">

                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header card-header-success">
                        <h4 class="card-title">Crear ubicación</h4>
                        <p class="card-category">Formulario ubicación </p>
                      </div>
                      <form [formGroup]="createLocation" (ngSubmit)="onSubmit(createLocation.value)">
                      <div class="card-body" style="margin-top: 20px;">
                          <div class="row justify-content-center">
                            <div class="col-md-5">
                              <div class="form-group">
                                <label class="bmd-label">Nombre</label>
                                <br>
                                <input type="text" formControlName="name"  class="form-control" placeholder="Nombre">
                              </div>
                            </div>
                            <div class="col-md-5">
                              <div class="form-group">
                                <label class="bmd-label">Area M2</label>
                                <br>
                               <input type="number" min="1" max="1000" id="area" formControlName="areaM2" placeholder="Area" required   class="form-control" >
                               </div>
                             </div>
                          </div>

                          <div class="row justify-content-center">
                            <div class="col-md-5">
                              <div class="form-group">
                                <label class="bmd-label">Tipo de ubicación</label>
                                
                               <select class="form-control"  formControlName="opcionSeleccionado" (change)="capturar(createLocation.value)">
                                 <option value="true" >Principal</option>
                                 <option value="false" >secundaria</option>
                               </select>
                              </div>
                            </div>
                            <div class="col-md-5" *ngIf="verSeleccion">
                              
                              <div class="form-group">
                                <label class="bmd-label">ubicación Principal</label>
                                
                                <select formControlName="setParentLocation" class="form-control">
                                  <option value="0" >Ninguno...</option>
                                  <option *ngFor="let location of locations" value="{{location.location}}">{{location.name}}</option>
                                  
                                </select>
                              </div>
                             </div>
                          </div>

                          <div class="row justify-content-center">
                            <br>
                            <br>
                          </div>
                          <div class="row justify-content-center">
                            <div class="col-md-5">
                               <button type="button"  class="btn btn-info pull-center">Limpiar</button>
                            </div>
                             <div class="col-md-5">
                              <button type="submit"  class="btn btn-success pull-right">Guardar</button>
                            </div>
                          </div>
                        
                         
                          
                          
                          
                          
                      </div>
                    </form>
                    </div>
                  </div>
                    
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
             <div class="card-body m-t-20">
                <!--main content-->
                <div class="row">

                  <div class="col-md-12">
                    <div class="card">
                      
                  <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  </div>
                <div class="card-body">
                  <div class="toolbar">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                  </div>
                  <div class="material-datatables">
                    <table id="tablePagos" class="table table-striped table-bordered table-hover text-center" cellspacing="0" width="100%" style="width:100%">
                      <thead>
                        <tr>
                          <th>location</th>
                          <th>Nombre</th>
                          <th>Area</th>
                          <th>Tipo</th>
                          <th>Fecha de Creación</th>
                          <th class="disabled-sorting text-center">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let location of locations">
                          <td>{{location.location}}</td>
                          <td>{{location.name}}</td>
                          <td>{{location.areaM2}}</td>

                          <td *ngIf="location.setParentLocation==0">Principal</td>
                          <td *ngIf="location.setParentLocation!=0">Secundaria</td>
                          <td>{{location.createdAt}}</td>
                          <td><button (click)="Delete(location.location)" type="button"  class="btn btn-danger pull-center">Eliminar</button></td>
                        </tr>
                      </tbody>
                          
                          
                      </table>
                  </div>
                </div>
                <!-- end content-->
              </div>
              <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
          </div>
                    
                </div>
            </div>
        </div>
    </div>
  